.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.4rem 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid var(--gray-200);
    background: white;
    margin-left: 0.25rem;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        background: #10b981 !important;
        color: white !important;
        border: none;
    }

.dataTables_wrapper .dataTables_filter input {
    border-radius: 0.5rem;
    border: 1px solid var(--gray-300);
    padding: 0.5rem 0.75rem;
}
